[submodule "Libraries/glm"]
	path = Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "Libraries/imgui"]
	path = Libraries/ImGui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libraries/entt"]
	path = Libraries/entt
	url = https://github.com/skypjack/entt.git
